@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap");

:root {
	--primary: #000000;
	--secondary: #00001a;
	--light: #f2f2f2;
	--light-alt: #e6e6e6;
	--dark: #00001a;
	--dark-alt: #2d2d2d;
	--accent: #ff66cc;
	/* Somewhere between dark-alt and light-alt */
	--outer-border-color: #4d4d4d;
	/* --accent: #ffcc00; */
	/*A blue that goes well with the main accent color*/
	--accent-alt: #ff66cc;
	--accent-alt2: #00ccff;
	--accent-alt3: #ffcc00;

	--connected-color: #00ff00;
	--disconnected-color: #ff0000;

	--border-radius: 5px;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Roboto Mono", monospace; /* Use Roboto Mono for all elements */
	font-size: 12px; /* Adjust the base font size */
}

body,
html {
	height: 100%;
}

body {
	background-color: var(--primary);
	color: var(--light);
}

.App {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Press Start 2P", cursive; /* Use Press Start 2P for headers */
	color: var(--accent);
}

h1 {
	font-size: 1.5rem; /* Adjust the font size */
	font-weight: 400; /* Adjust the font weight */
	margin-bottom: 1rem;
	color: var(--accent-alt);
}

.page-title {
	font-size: 2rem; /* Adjust the font size */
	font-weight: 400; /* Adjust the font weight */
	margin-bottom: 1rem;
	margin-top: 1rem;

	/* Centering the text */
	text-align: center;

	color: var(--accent-alt2);
}

.card {
	/* Other styles... */

	/* Add space between cards */
	margin-bottom: 20px; /* Adjust as needed */
}

.page-content-table {
	/* Display columns next to each other, while keeping the main-column centered */
	display: flex;
	justify-content: center;
}

.right-side-column {
	/* Other styles... */

	/* Add space between the columns */
	margin-left: 20px; /* Adjust as needed */
}

.left-side-column {
	/* Other styles... */

	/* Add space between the columns */
	margin-right: 20px; /* Adjust as needed */
}

.page-title-decoration {
	width: 320px;
	height: 32px;
	filter: brightness(0.5);
}

.page-title-decoration.right {
	/* Mirror image horizontally */
	transform: scaleX(-1);
}

.page-title-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.page-title {
	margin-left: 20px;
	margin-right: 20px;
}

#snowCanvas {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: var(--accent);
	z-index: -1;
}
