@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    /* Colors */
    --color-primary: #000000;
    --color-secondary: #00001a;
    --color-light: #f2f2f2;
    --color-light-alt: #e6e6e6;
    --color-dark: #00001a;
    --color-dark-alt: #2d2d2d;
    --color-accent: #ff66cc;
    --color-accent-secondary: #00ccff;
    --color-accent-tertiary: #ffcc00;
    --color-accent-alt: #ff66cc;
    --color-accent-alt2: #00ccff;
    --color-accent-alt3: #ffcc00;

    --color-outer-border: #4d4d4d;
    --color-inner-border: #2d2d2d;
    --color-border-primary: #4d4d4d;
    --color-border-secondary: #2d2d2d;

    --color-connected: #00ff00;
    --color-disconnected: #ff0000;

    --color-text-light: #dddbdb;
    --color-text-dark: #000000;
    --color-text-bold: #00ccff;

    --color-title-primary: #ff66cc;
    --color-title-secondary: #00ccff;

    --border-radius: 5px;
    --border-width: 2px;

    /* Default 480px X 320px */
    --game-canvas-width: 960px; /* 2x Default */
    --game-canvas-height: 640px; /* 2x Default */

    --small-screen-width: 640px;

    --title-font: "Press Start 2P", cursive;

    --translate-mirror-x: scaleX(-1);
    --translate-mirror-y: scaleY(-1);

    color: rgb(255, 255, 255);
    background-color: #000;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
}
a:hover {
    color: #535bf2;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto Mono", monospace; /* Use Roboto Mono for all elements */
    font-size: 12px;
    line-height: 1.4;
    scrollbar-width: thin;
    scrollbar-color: var(--color-accent-alt2) var(--color-secondary);
}

*::-webkit-scrollbar {
    width: 8px;
}

*::-webkit-scrollbar-thumb {
    background-color: var(--color-accent-alt2);
}

*::-webkit-scrollbar-track {
    background-color: var(--dark);
}

body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    color: var(--color-text-light);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Press Start 2P", cursive; /* Use Press Start 2P for headers */
    color: var(--color-title-primary);
}

button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
}
button:hover {
    border-color: #646cff;
}
button:focus,
button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}
