.arcade {
	/* Setting the background color */
	background-color: var(--primary);

	/* Setting the border properties */
	/* border-style: solid;
	border-color: var(--outer-border-color);
	border-width: 2px;
	border-radius: var(--border-radius); */

	/* Setting the padding and maximum dimensions */
	padding: 20px;
	max-width: 650px; /* Limit the maximum width */
	margin: auto; /* Center the element */

	/* Using flexbox for layout */
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	cursor: pointer;

	/* For the gradient border */
	position: relative;
	border-radius: var(--border-width);
}

.arcade::after {
	position: absolute;
	content: "";
	top: calc(-1 * var(--border-width));
	left: calc(-1 * var(--border-width));
	z-index: -1;
	width: calc(100% + var(--border-width) * 2);
	height: calc(100% + var(--border-width) * 2);
	background: linear-gradient(
		60deg,
		var(--accent),
		var(--accent),
		var(--accent-alt2),
		var(--accent-alt2),
		var(--accent),
		var(--accent),
		var(--accent-alt2),
		var(--accent-alt2),
		var(--accent),
		var(--accent)
	);
	background-size: 300% 300%;
	background-position: 0 50%;
	border-radius: calc(2 * var(--border-width));
	animation: moveGradient 4s alternate infinite;

	/* Hide regular border */
	border: none;
}

@keyframes moveGradient {
	50% {
		background-position: 100% 50%;
	}
}

.arcade-logo-container {
	cursor: pointer;
}

.arcade-logo {
	/* Original ratio 66px X 42px, ( 66px * 2,5 = 165px ) */
	width: 165px;
	height: 105px;

	user-select: none;
}

.arcade:hover .arcade-logo {
	/* scale: 1.1; */
	filter: saturate(1.1) brightness(1.3);
}

.arcade:hover {
	box-shadow: 0 0 20px var(--accent), 0 0 20px var(--accent);
}
