/* The .profile class styles the overall profile container */
.profile {
	/* Setting the background color */
	background-color: var(--primary);

	/* Setting the border properties */
	border-style: solid;
	border-color: var(--outer-border-color);
	border-width: 2px;
	border-radius: var(--border-radius);

	/* Setting the padding and maximum dimensions */
	padding: 20px;
	max-width: 650px; /* Limit the maximum width */
	margin: auto; /* Center the element */

	/* Using flexbox for layout */
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	max-width: 95%;
}

@media screen and (min-width: 600px) {
	.profile {
		max-width: 600px; /* Adjust as needed */
	}
}

/* The .profile-picture-container class styles the container for the profile picture */
.profile-picture-container {
	/* Setting the dimensions and hiding overflow to maintain a circular shape */
	width: 200px;
	height: 200px;
	overflow: hidden;

	/* Adjusting the border-radius to create a rounded square */
	border-radius: 10%; /* Adjust this value to get the desired roundness */

	/* Applying a border to the container */
	border-style: solid;
	border-color: var(--accent);
	border-width: var(--border-width);

	/* Adding a vignette effect */
	position: relative;

	width: 30%;
	height: 30%;

	margin-bottom: 1.25rem;
}

@media screen and (min-width: 600px) {
	.profile-picture-container {
		width: 200px; /* Original width for larger screens */
		height: 200px; /* Original height for larger screens */
		margin-bottom: 0;
	}
}

.profile-picture-container::after {
	/* Creating a pseudo-element */
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;

	/* Applying a radial gradient to create the vignette */
	background: radial-gradient(circle at center, transparent, black 80%);
	opacity: 0.4;
}

/* The .profile-picture class styles the profile picture itself */
.profile-picture {
	/* Setting the dimensions and object-fit property to cover the entire content box */
	width: 100%;
	height: 100%;
	object-fit: cover;

	/* Adjusting the border-radius to create a rounded square */
	border-radius: 10%; /* Adjust this value to get the desired roundness */

	/* Applying a filter for visual effect */
	filter: contrast(0.9) saturate(1.5) sepia(0.3) brightness(0.9);
}

.profile-details-container {
	display: flex;
	flex-direction: column;
	align-items: center;

	/* Setting the margins */
	margin-left: 1.25rem;
}

@media screen and (min-width: 600px) {
	.profile-details-container {
		align-items: flex-start;
	}
}

/* The .profile-name h1 class styles the profile name */
.profile-name h1 {
	/* Setting the font properties and text alignment */
	font-weight: bold;
	font-size: 3rem; /* Adjust the font size */
	text-align: left;
}

@media screen and (min-width: 600px) {
	.profile-name h1 {
		font-size: 4rem; /* Original font size for larger screens */
	}
}

/* The .profile-description class styles the profile description */
.profile-description {
	/* Setting the font properties and text alignment */
	font-size: 0.7rem; /* Adjust the font size */
	color: var(--light);
	text-align: center;

	/* Setting the width and word-wrap properties */
	max-width: 400px; /* Adjust the maximum width */
	word-wrap: break-word;
}

@media screen and (min-width: 600px) {
	.profile-description {
		text-align: left;
	}
}

/* The .profile-content class styles the profile content */
.profile-content {
	/* Using flexbox for layout */
	display: flex;
	flex-direction: column;
	padding-left: 5px;
	padding-right: 5px;
	justify-content: center;
	align-items: center;
}

@media screen and (min-width: 600px) {
	.profile-content {
		flex-direction: row; /* Original flex-direction for larger screens */
		justify-content: flex-start;
		align-items: flex-start;
	}
}

.social-links {
	/* Setting the margins */
	margin-top: 10px;

	/* Using flexbox for layout */
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

@media screen and (min-width: 600px) {
	.social-links {
		justify-content: flex-start;
		align-items: flex-start;
	}
}

.social-logo {
	/* Setting the dimensions */
	width: 32px;
	height: 32px;

	/* Setting the margins */
	margin-right: 10px;
}

.social-logo:hover {
	filter: brightness(0.4);
	animation: rotate 2s linear infinite;
	/* animation-timing-function: cubic-bezier(1, 0, 0.5, 1); */
}

@keyframes rotate {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.profile-text-content {
	display: flex;
	flex-direction: column;
	align-items: center; /* Centered on small screens */
	justify-content: center;
}

@media screen and (min-width: 600px) {
	.profile-text-content {
		align-items: flex-start; /* Left-aligned on larger screens */
	}
}
