.pfp-container {
    position: relative;
}

.pfp-container::after {
    /* Creating a pseudo-element */
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    /* Applying a radial gradient to create the vignette */
    background: radial-gradient(circle at center, transparent, black 80%);
    opacity: 0.3;
}
