.pfp-container {
    position: relative;
}

.pfp-container::after {
    /* Creating a pseudo-element */
    content: "";
    position: absolute;
    inset: 0;

    /* Applying a radial gradient to create the vignette */
    background: radial-gradient(circle at center, transparent, black 80%);
    opacity: 0.3;
}
