.card {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	/* padding: 20px; */
	max-width: 95%;

	margin: auto;
	margin-bottom: 1.25rem;

	background-color: var(--primary);

	border-style: solid;
	border-color: var(--outer-border-color);
	border-width: var(--border-width);
	border-radius: var(--border-radius);

	position: relative;
}

.card.arcade {
	border: none;
}

.card.arcade::after {
	position: absolute;
	content: "";
	top: calc(-1 * var(--border-width));
	left: calc(-1 * var(--border-width));
	z-index: -1;
	width: calc(100% + var(--border-width) * 2);
	height: calc(100% + var(--border-width) * 2);
	background: linear-gradient(
		60deg,
		var(--accent),
		var(--accent),
		var(--accent-alt2),
		var(--accent-alt2),
		var(--accent),
		var(--accent),
		var(--accent-alt2),
		var(--accent-alt2),
		var(--accent),
		var(--accent)
	);
	background-size: 300% 300%;
	background-position: 0 50%;
	border-radius: calc(2 * var(--border-width));
	animation: moveGradient 4s alternate infinite;
}

@keyframes moveGradient {
	50% {
		background-position: 100% 50%;
	}
}

@media screen and (min-width: 640px) {
	.card {
		max-width: 640px;
	}
}

.card-header {
	display: flex;
	flex-direction: row;
	align-items: start;
	justify-content: space-between;

	width: 100%;
}

.card-body {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	width: 100%;
}
