.chat {
	/* Setting the background color */
	background-color: var(--primary);

	/* Setting the border properties */
	border-style: solid;
	border-color: var(--dark-alt);
	border-width: 2px;
	border-radius: var(--border-radius);

	/* Setting the padding and maximum dimensions */
	padding: 20px;
	max-width: 650px; /* Limit the maximum width */
	margin: auto; /* Center the element */

	/* Using flexbox for layout */
	display: flex;
	flex-direction: column;
	align-items: left;
	justify-content: left;
}

.chat-header {
	display: flex;
	flex-direction: row;
}

.chat-connection-indicator {
	/* Display chat connection indicator on the right side of the chat header */
	margin-left: auto;
	margin-bottom: 20px;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.chat-connection-indicator-dot {
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background-color: var(--connected-color);
	margin-right: 20px;
}

.chat-content-container {
	/* Setting the background color */
	background-color: var(--dark);

	/* Setting the border properties */
	border-style: solid;
	border-color: var(--dark-alt);
	border-width: 2px;
	border-radius: var(--border-radius);

	/* Setting the padding and maximum dimensions */
	padding: 20px;

	min-width: 300px; /* Limit the maximum width */
	max-width: 300px; /* Limit the maximum width */

	min-height: 300px; /* Limit the maximum width */
	max-height: 300px; /* Limit the maximum width */

	margin: auto; /* Center the element */

	/* Using flexbox for layout */
	display: flex;
	flex-direction: column;
	align-items: left;
	justify-content: left;

	/* Setting the scroll bar to be visible */
	overflow-y: scroll;

	/* Long messages should be wrapped and not cause scrolling on the x-axis */
	white-space: pre-wrap;
	word-wrap: break-word;

	/* Scroll bar styling */
	scrollbar-width: thin;
	scrollbar-color: var(--accent-alt2) var(--dark);
}

.chat-bold-me {
	color: var(--accent-alt);
}

.chat-bold-anonymous {
	color: var(--accent-alt2);
}

.chat-input-container {
	margin-top: 10px;
}

.chat-input {
	/* Setting the background color */
	background-color: var(--primary);

	/* Setting the border properties */
	border-style: solid;
	border-color: var(--dark-alt);
	border-width: 2px;
	border-radius: var(--border-radius);

	/* Setting the padding and maximum dimensions */
	padding: 20px;

	min-width: 240px; /* Limit the maximum width */
	max-width: 240px; /* Limit the maximum width */

	min-height: 50px; /* Limit the maximum width */
	max-height: 50px; /* Limit the maximum width */

	margin-right: 10px; /* Add space between the input box and the send button */

	color: var(--light);
}

.chat-send {
	/* Chat send button, located next to the input box, should be styled nicely 
    and not extend past the width of the chat content box */
	background-color: var(--primary);
	border-style: solid;
	border-color: var(--dark-alt);
	border-width: 2px;
	border-radius: var(--border-radius);
	min-width: 50px;
	max-width: 50px;
	min-height: 50px;
	max-height: 50px;
	color: var(--light);
}

.chat-send:hover {
	border-color: var(--light);
	/* color: var(--accent-alt); */
}

.chat-send.clicked {
	border-color: var(--accent-alt2);
	color: var(--accent-alt2);
}

/* .chat-send-icon {
	width: 16px;
	height: 16px;
} */

.connected-users-container {
	display: flex;
	flex-direction: row;
}

.chat-connection-count-text {
	margin-right: 5px;
}

.input-max-length {
	border-color: var(--disconnected-color);
}

/* This will affect the scrollbar in Chrome, Edge, and Safari */
::-webkit-scrollbar {
	width: 8px;
}

::-webkit-scrollbar-track {
	background: var(--dark); /* Color of the track */
}

::-webkit-scrollbar-thumb {
	background: var(--accent-alt2); /* Color of the scroll thumb */
}

::-webkit-scrollbar-thumb:hover {
	background: var(
		--accent-alt2
	); /* Color of the scroll thumb when hovering */
}
