.chat {
	/* Setting the background color */
	background-color: var(--primary);

	/* Setting the border properties */
	border-style: solid;
	border-color: var(--outer-border-color);
	border-width: 2px;
	border-radius: var(--border-radius);

	/* Setting the padding and maximum dimensions */
	padding: 20px;
	max-width: 650px; /* Limit the maximum width */
	margin: auto; /* Center the element */

	/* Using flexbox for layout */
	display: flex;
	flex-direction: column;
	align-items: left;
	justify-content: left;

	max-width: 95%;
}

@media screen and (min-width: 600px) {
	.chat {
		max-width: 600px; /* Adjust as needed */
	}
}

.chat-header {
	display: flex;
	flex-direction: row;

	width: 100%;
}

.chat-connection-indicator {
	/* Display chat connection indicator on the right side of the chat header */
	margin-left: auto;
	margin-bottom: 20px;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.chat-connection-indicator-dot {
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background-color: var(--connected-color);
	margin-right: 20px;
}

.chat-connection-indicator-dot.connected {
	background-color: var(--connected-color);
	/* Decrease the blur radius and spread radius to reduce the intensity of the glow */
	box-shadow: 0 0 10px 1px var(--connected-color); /* Adjust color as needed */
}

.chat-connection-indicator-dot.disconnected {
	background-color: var(--disconnected-color);
	/* Decrease the blur radius and spread radius to reduce the intensity of the glow */
	box-shadow: 0 0 10px 1px var(--disconnected-color); /* Adjust color as needed */
}

.chat-body {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.chat-content-container {
	/* Setting the background color */
	background-color: var(--dark);

	/* Setting the border properties */
	border-style: solid;
	border-color: var(--dark-alt);
	border-width: 2px;
	border-radius: var(--border-radius);

	/* Setting the padding and maximum dimensions */
	padding: 20px;

	min-width: 300px; /* Limit the maximum width */
	max-width: 300px; /* Limit the maximum width */

	min-height: 300px; /* Limit the maximum width */
	max-height: 300px; /* Limit the maximum width */

	margin: auto; /* Center the element */

	/* Using flexbox for layout */
	display: flex;
	flex-direction: column;
	align-items: left;
	justify-content: left;

	/* Setting the scroll bar to be visible */
	overflow-y: scroll;

	/* Long messages should be wrapped and not cause scrolling on the x-axis */
	white-space: pre-wrap;
	word-wrap: break-word;

	/* Scroll bar styling */
	scrollbar-width: thin;
	scrollbar-color: var(--accent-alt2) var(--dark);

	min-width: 95%;
	max-width: 95%;
}

@media screen and (min-width: 600px) {
	.chat-content-container {
		min-width: 300px; /* Original min-width for larger screens */
		max-width: 300px; /* Original max-width for larger screens */
	}
}

.chat-bold-me {
	color: var(--accent-alt);
}

.chat-bold-anonymous {
	color: var(--accent-alt2);
}

.chat-input-container {
	margin-top: 10px;
	display: flex;
	flex-direction: row;
	min-width: 95%;
	max-width: 95%;
}

@media screen and (min-width: 600px) {
	.chat-input-container {
		min-width: 300px; /* Original min-width for larger screens */
		max-width: 300px; /* Original max-width for larger screens */
	}
}

.chat-input {
	flex-grow: 1;
	/* Setting the background color */
	background-color: var(--primary);

	/* Setting the border properties */
	border-style: solid;
	border-color: var(--dark-alt);
	border-width: var(--border-width);
	border-radius: var(--border-radius);

	/* Setting the padding and maximum dimensions */
	padding: 20px;

	/* min-width: 240px;
	max-width: 240px;

	min-height: 50px;
	max-height: 50px; */

	/* min-width: 90%;
	max-width: 90%; */

	min-height: 50px;
	max-height: 50px;

	/* margin-right: 10px; */
	margin-right: 0.5rem;

	color: var(--light);
}

.chat-send {
	flex-grow: 0;

	background-color: var(--primary);
	border-style: solid;
	border-color: var(--dark-alt);
	border-width: var(--border-width);
	border-radius: var(--border-radius);
	/* min-width: 50px;
	max-width: 50px; */

	padding-left: 0.5rem;
	padding-right: 0.5rem;

	min-height: 50px;
	max-height: 50px;
	color: var(--light);
}

.chat-send:hover {
	border-color: var(--light);
	/* color: var(--accent-alt); */
}

.chat-send.clicked {
	border-color: var(--accent-alt2);
	color: var(--accent-alt2);
}

/* .chat-send-icon {
	width: 16px;
	height: 16px;
} */

.connected-users-container {
	display: flex;
	flex-direction: row;
}

.chat-connection-count-text {
	margin-right: 5px;
}

.input-max-length {
	border-color: var(--disconnected-color);
}

/* This will affect the scrollbar in Chrome, Edge, and Safari */
::-webkit-scrollbar {
	width: 8px;
}

::-webkit-scrollbar-track {
	background: var(--dark); /* Color of the track */
}

::-webkit-scrollbar-thumb {
	background: var(--accent-alt2); /* Color of the scroll thumb */
}

::-webkit-scrollbar-thumb:hover {
	background: var(
		--accent-alt2
	); /* Color of the scroll thumb when hovering */
}
