.projects {
	/* Setting the background color */
	background-color: var(--primary);

	/* Setting the border properties */
	border-style: solid;
	border-color: var(--outer-border-color);
	border-width: 2px;
	border-radius: var(--border-radius);

	/* Setting the padding and maximum dimensions */
	padding: 20px;
	max-width: 650px; /* Limit the maximum width */
	margin: auto; /* Center the element */

	/* Using flexbox for layout */
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	max-width: 95%;
}

@media screen and (min-width: 600px) {
	.projects {
		max-width: 600px; /* Adjust as needed */
	}
}

.projects-title-container {
	width: 100%; /* Ensure the container takes up the full width */
	text-align: left; /* Align content to the left */
}

.projects-title {
	/* Setting the font properties */
	font-size: 1.5rem;
	font-weight: 400;
	margin-bottom: 1rem;
	text-align: left; /* Align the title to the left */
}

.project-card {
	/* Setting the background color */
	background-color: var(--dark);

	/* Setting the border properties */
	border-style: solid;
	border-color: var(--dark-alt);
	border-width: 2px;
	border-radius: var(--border-radius);

	/* Setting the padding and maximum dimensions */
	padding: 20px;
	max-width: 650px; /* Limit the maximum width */
	margin: auto; /* Center the element */
	margin-bottom: 10px;

	/* Using flexbox for layout */
	display: flex;
	flex-direction: column;
	align-items: left;
	justify-content: left;
}

.project h3 {
	/* Setting the font properties */
	font-weight: 400;
	color: var(--accent-alt);
	margin-right: 10px; /* Add some space between the image and the title */
}

.project-title-container {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-bottom: 1rem;
}

.project-title-decoration {
	height: 1.5em; /* Adjust as needed */
	width: 1.5em; /* Adjust as needed */
	margin-right: 10px; /* Add some space between the image and the title */
}

.project-bold {
	color: var(--accent-alt2);
}

.project-description {
	margin-left: 1.5rem; /* Adjust as needed */
}

.project-suggestions-card {
	/* Setting the background color */
	background-color: var(--dark);

	/* Setting the border properties */
	border-style: solid;
	border-color: var(--dark-alt);
	border-width: 2px;
	border-radius: var(--border-radius);

	/* Setting the padding and maximum dimensions */
	padding: 20px;
	max-width: 650px; /* Limit the maximum width */
	margin: auto; /* Center the element */
	margin-bottom: 10px;

	/* Using flexbox for layout */
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.project-suggestions-title-container {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-top: 1rem;
	margin-bottom: 1rem;
}

.project-suggestions-title {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-left: 1.5rem; /* Adjust as needed */
	margin-right: 1.5rem; /* Adjust as needed */
}

.project-suggestions-title h3 {
	font-size: 0.75rem;
	color: var(--accent-alt2);
}

@media screen and (min-width: 600px) {
	.project-suggestions-title h3 {
		font-size: 1rem;
	}
}

.project-suggestions-main-title {
	margin-bottom: 0.5rem;
}

.inner-list {
	margin-left: 2rem; /* Adjust as needed */
	margin-right: 2rem; /* Adjust as needed */
}

.arcade-project-adjustment h3 {
	font-size: 0.9rem;
}

@media screen and (min-width: 600px) {
	.arcade-project-adjustment h3 {
		font-size: 1rem;
	}
}
